/backups/
/data/default-user-bakup/
/data/default-user-bakup-two/
/data/_uploads/
/data/default-user/backups/
/data/default-user/settings.json
/data/default-user/secrets.json
/data/default-user/stats.json
